.app {
  background-color: rgb(240, 240, 240);
  height: 100vh;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.container-box {
  width: 80%;
  background-color: transparent;
  position: relative;
  z-index: 9;
}

.tsparticles-canvas-el {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 1000vh;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles {
    display: none;
  }
}
